/*
    Sintaxis del css
    {atributo:valor;} 
*/

/** Selectores en Css **/

/*! Selector Universal !*/
*{/* Todo el texto se pondra en gris */
    color:grey;}
h1{/* Todo los h1 se pondran en gris */
    color:grey}

/*! Selectores Descendentes !*/
/* El estilo se aplica a todos los elementos "p","a","span","em" */
p,a,span,em{text-decoration: underline;}

/* El estilo se solo a los elementos "em" que se encuentran dentro de "p a span " */
p a span em{text-decoration: underline;}

/* 
    El * se refiere a un elemento cualquiera entre 
    p y a por lo que solo se aplica 
    a lo que haya entre p y a 
*/
p * a{color:red;}

/*! Selectores de Clase !*/
/* 
    Son los mas utilizados, en la misma pagina
    de html varios elementos pueden utilizar el 
    mismo valor en el atributo class 
*/
.aviso{border:1px solid #0000;}

/* A veces es necesario reestringir estos selectores para especificar en un elemento en concreto */
/* Se aplica a todos los elementos del tipo "p" con atributo class="aviso" */
p.aviso{color:grey;}

/* Se aplicará a los elementos con clase "aviso" que se encuentren dentro de un párrafo */
p .aviso{color:grey;}

/* Se aplicará a los elementos con clase "aviso" que se encuentren dentro de un párrafo */
p, .aviso{color:grey;}


/*! Selectores de ID !*/
/*
    Se usan para aplicar estilos a un unico elemento de la pagina,no se puede repetir en 2 elementos
    diferentes de una misma pagina.
    La sintaxis es igual que la clase solo que en vez de "." usamos "#"
*/
#aviso{border:1px solid #0000;}

/* A veces es necesario reestringir estos selectores para especificar en un elemento en concreto */
/* Se aplica a todos los elementos del tipo "p" con atributo id="aviso" */
p#aviso{color:grey;}

/* Se aplicará a los elementos con ID "aviso" que se encuentren dentro de un párrafo */
p #aviso{color:grey;}

/* Se aplicará a los elementos con ID "aviso" que se encuentren dentro de un párrafo */
p, #aviso{color:grey;}

/*! Selectores de hijos !*/
/*
    Selecciona un elemento que es hijo de otro
*/

div > p{color:white;}/* El estilo se aplica a todos los parrafos hijos de un div */


/** Unidades de medida en Css **/
/* 
    Hay dos unidades de medida en Css, las relativas y las absolutas
    Las relativas definen su valor en relacion a otra medida.
    Las absolutas establecen la forma completa del valor de una medida.
*/

/*! Unidades absolutas !*/
/*  Su valor es el que se debe utilizar sin necesidad de realizar calculos intermedios.
    !Pero son muy poco flexibles y no se adaptan facilmente.
    El pt, es la que mas se suele usar.
*/

/* in,pulgadas("inches")equivale a 2.54cm */
body{margin:0.5in;}

/* cm,centimetros. */
h1{line-height: 2cm;}

/* mm,milímetros */
p{word-spacing: 4mm;}

/* pt,puntos. Un punto equivale a 1 pulgada/72, es decir, unos 0.35 milímetros */
a{font-size: 12pt;}

/* pc,picas. Una pica equivale a 12 puntos,es decir, unos 4.23 milímetros */
span{font-size: 1pc;}

/*! Unidades relativas !*/
/* Siempre mantienen las proporciones del diseño de la página */

/* em, relativa al tamaño de la letra del elemento */
body{margin:0.5em;}

/*ex, relativa respecto de la altura de la letra x del tipo y tamaño de letra del elemento. */
h1{line-height: 2ex;}

/* px,pixel relativa respecto de la resolucion de la pantalla del dispositivo el que se visualiza la pagina HTML */
p{word-spacing: 4px;}

/* %, valor numerico seguido del simbolo % siempre esta referenciado a otra medida */
a{font-size: 12%;}

/* pc,picas. Una pica equivale a 12 puntos,es decir, unos 4.23 milímetros */
span{font-size: 1pc;}


/** Colores en Css **/

/*
    Palabras clave: red,blue,green...
    RGB decimal: 153,255,0
    RGB porcentual: R 244 H 339 º
                    G 119 S 51 %
                    B 162 V 96 %
    RGB hexadecimal: #99ff00
*/


/** Modelo de Cajas **/
/*
    Los navegadores crean y colocan cajas con cada etiqueta que añadas al html,
    css nos permite modificar estas cajas.
    Cada caja esta formada por 6 partes:
        Contenido: contenido del elemento del HTML.
        Relleno(padding):espacio libre opcional existente entre el contenido y el borde.
        Borde(border): linea que encierra al contenido y su relleno.
        Imagen de fondo(background image):imagen que se muestra por detras del contenido y el relleno.
        Color de fondo(background color):color que se muestra por detras del contenido y el relleno.
        Margen(margin):separacion opcional existente entre la caja y el resto de cajas.
*/

/*? Propiedad Width
        No admite valores negativos y los porcentajes se calculan a partir de la anchura de su elemento padre.
        El valor inherit indica que la anchura del elemento se hereda de su elemento padre.
        El valor auto, indica que sea el navegador el que calcule la anchura automaticamente.(inicial)
*/

/*? Propiedad Height
        No admite valores negativos y los porcentajes se calculan a partir de la altura de su elemento padre.
        El valor inherit indica que la altura del elemento se hereda de su elemento padre.
        El valor auto, indica que sea el navegador el que calcule la altura automaticamente.(inicial)
*/

/*? Propiedad Margen(margin)
        Las unidades mas usadas son los pixeles para una precision total, los em pra diseños que 
        mantengan las proporciones y porcentajes para diseños fluidos.
        etiquetas: margin-top,margin-left,margin-right,margin-bottom.
        Si solo se pone la etiqueta margin..
            Si solo es un valor se pondra ese en los 4 lados.
            Si se pone dos el valor se asignara al margen superior e inferior y el segundo al
            los margenes izquierdo y derecho
            Si se indican tres valores, el primero se asignara al margen superior, el tercero
            al inferior y el segundo a los margenes izquierdo y derecho.
            Si se indican los 4 valores el orden es,superior,derecho,inferior,izquierdo.
*/

/*? Propiedad Relleno(padding)
        Etiquetas: padding-top,padding-left,padding-right,padding-bottom.
        Si solo se pone la etiqueta padding..
            Si solo es un valor se pondra ese en los 4 lados.
            Si se pone dos el valor se asignara al padding superior e inferior y el segundo al
            los padding izquierdo y derecho
            Si se indican tres valores, el primero se asignara al padding superior, el tercero
            al inferior y el segundo a los padding izquierdo y derecho.
            Si se indican los 4 valores el orden es,superior,derecho,inferior,izquierdo.
*/


/*? Propiedad Bordes(Border)
       Etiquetas: 
            Se le añade - y width,color etc para añadir ,mas cosas.
            border-top,border-right,border-bottom,border-left. 
            border-style: none,hidden,dotted,solid,double,groove,ridge,inset,outset.
        Las propiedades shorthand:
            se pone border:1px solid red;
*/

/*? Propiedad Fondos(background)
        Color de Fondo:
                background-color: "un color" | "transparent" | "inherit"
        Imagen de Fondo:
                background-image: url("ruta")
                background-repeat: repeat | repeat-x | repeat-y | no-repeat | inherit
                background-position: (porcentaje/unidad de medida/left/center/right)||(porcentaje/unidad de medida/left/center/right)||(left/center/right)||(left/center/right)
                                -Si ponemos 2 porcentajes o medidas se indica el desplazamiento horizontal y el segundo el vertical respecto al origen
                                -Su ponemos 1 porcentaje o medida se considera que es el desplazamiento horizontal y al vertical se le asigna el valor de 50%
                background-attachment:scroll||fixed||inherit

                Ejemplo:
                    #caja1{
                        background-image:url("imges/help.png");
                        background-repeat:no-repeat;
                        background-position:50% 50%;
                    }
                Ejemplo shorthand:
                    body{background: #222d2d url(./graphics/colorstrip.gif) repeat-x 0 0;}
*/



/** Posicionamiento **/

/*? Propiedad Posicionamiento(position)
        Etiquetas:
                position: 
                    static  
                    relative(top,right,bottom,left)(desplaza la la caja y deja un hueco) 
                    absolute(top,right,bottom,left)(se mueve libremente no deja hueco)
                    fixed(convierte la caja en inamovible)
                    inherit
                float:(no dejan hueco y el que debia usar lo ocupa otro elemento)
                    left lo mueve a la izq
                    right lo mueve a la der
                    none
                    inherit
                clear:(modifica el comportamiento del posicionamiento flotante y fuerza a un elemento a mostrarse debajo de una caja flotante)
                    none
                    left: el elemento se desplaza de forma descendente hasta que pueda colocarse en una linea sin caja flotante en el lado izquierdo
                    right: igual pero se tienen en cuenta los elementos desplazados a la derecha
                    both: despeja ambos lados y desplaza al elemento de forma descendente hasta que deje de chocar con un elemento flotante
*/


/*? Propiedad Display(display)
        Etiquetas: 
            display:
                    inline          visualiza el elemento en linea
                    block           muestra el elemento como un bloque
                    none        oculta el elemento y este desaparece de la pagina
                    inline-block
*/

/*? Propiedad Visibility(visibility)
        Etiquetas: 
            visibility:
                    visible
                    hidden      convierte una caja en invisible, se queda el hueco vacio
                    collapse    solo en filas o columna de tablas, oculta una fila o columna y muestra otros contenidos en el lugar
*/

/*? Propiedad Overflow(overflow)
        Etiquetas: 
            overflow:
                    visible     el contenido no se corta y sobresale.
                    hidden      el contenido sobrante se oculta.
                    scroll      el contenido sobrante se oculta pero se muestran barras de scroll
                    auto        depende del navegador pero suele ser scroll
                    inherit
*/

/*? Propiedad z-index(z-index)
        Superposicion de elementos            
        Etiquetas: 
            z-index:
                    auto        
                    numero  el numero 0 es el nivel mas bajo, los que tengan z index mas grande se mostraran arriba de los otros
                    inherit
*/


/** Tipografia **/
/*
    Para cambiar el color se usa la etiqueta color --> h1{color: #B1251E}
    Para cambiar el tipo de letra se usa font-family --> h1{font-family:Arial}
    Para cambiar el tamaño de letra se usa font-size --> h1{font-size:10px}
    Para cambiar la anchura de la letra se usa font-weight --> h1{font-weight: bold}
    Para cambiar el estilo se usa font-style --> h1{font-style:normal|italic|oblique|inherit}

    Todo junto:
                p { font: italic small-caps bold 1.5em/2 sans-serif;}

*/
        

/** Enlaces **/
/*
    Para los enlaces se puede cambiar la decoracion del texto.
    Para cambiar la decoracion se usa text-decoration --> a{text-decoration:none/overline/underline;}
    Para cambiar la anchura de la letra se usa font-weight --> a{font-weight: bold;}
    Para cambiar el borde inferior seria --> a{border-bottom:medium solid #CC0000;}
?    Añadir imagenes a los enlaces:
            Aparecera en naranja subrayado con la imagen a la izquierda en el centro.
                .rss{
                    color:#E37529;
                    padding:0 0 0 18px;
                    background:#FFF url(images/rss.gif) no repeat left center;
                }
                    

*/

/** Listas **/
/*
    Hay varios tipos de listas y css nos permite modificarlos.
    Para cambiar el tipo de lista usamos list-style-type -->ul{list-style-type:disc | circle | decimal | decimal-leading-zero | lower-roman |
                                                               upper-roman | lower-greek | lower-latin | upper-latin | armenian | georgian |
                                                               lower-alpha | upper-alpha | none |inherit ;}
    Para decidir la colocacion de las viñetas usamos list-style-position --> ul{list-style-position:inside | outside | inherit ;}
    Si queremos personalizar las viñetas usamos list-style-image --> ul{list-style-image:url("img/ok.png") | none | inherit ;}
?   Para agrupar estas propiedades seria asi ul{list-style:type position image}
    
    Para hacer una lista en horizontal se pone el display inline / inline-block

*/

/** Formularios **/
/*
    Se usan los padding / display / margin / float
    Lo ideal es meter cada label e input en un div para controlarlo mejor con floats
    Existe una etiqueta fieldset donde puedes crear distintos limitadores para el form, esta etiqueta va dentro de la de form.
?   Para resaltar campos que el usuario clickee se usa el focus
        Esto cambiara los input a un borde mas ancho y otro color de fondo
        input:focus{
            border:2px solid #000;
!           outline-color: red; Esta propiedad cambia el color del borde a rojo
            background: #F3F3F3;
            
        }
*/

/** Tablas **/
/*
    Los bordes de la tabla salen al inicio separados, para unirlos tenemos una propiedad llamada border-collapse,se aplica a la table: 
        collapse    collapse fusiona los bordes de las celdas adyacentes
        separate    fuerza a que las celdas muestren los 4 bordes / por defecto
        inherit
    Para controlar la separacion entre celdas se utiliza el border-spacing y se indica o 1 o 2 unidades de medida para la separacion horizontal
    o vertical de las celdas                                                                                                            
    Para tratar las celdas vacias se usa la propiedad empty-cells
        show        se muestra el hueco con bordes
        hide        se esconde el hueco sin bordes
        inherit
    Para poner titulo a la tabla se usa la etiqueta <caption> se usa la propiedad caption-side para controlar la posicion de esta
        top         Se muestra el titulo arriba
        bottom      Se muestra el titulo abajo
        inherit

*/

/** Efectos **/
/*
?   Efectos sobre imagenes | filter: xxx(x);
        -blur(px)
        -brithness(%)
        -contrast(%)
        -drop-shadow(h-shadow v-shadow blurspread color) Ej: filter:drop-shadow(8px 8px 10px gray)
        -grayscale(%)
        -hue-rotate(deg)
        -invert(%)
        -opacity(%)
        -saturate(%)
        -sepia(%)
*/
/*
?   Transformacion de imagenes | transform: xxx(x);
        -translate(ejex(izq),ejey(arriba))      mueve la caja
        -rotate(angulodegiro(deg))              gira la caja
        -scale(ejex(horizontal),ejey(vertical)),los decimales menores a 0 reducen el tamaño     escala la imagen
        -skew(lados verticales,lados horizontales),los angulos negativos inlinan hacia el lado contrario    inclina la imagen
        -matrix(x,x,x,x,x,x) Utiliza 6 parametros ,gira y rota la caja.
    
    TODO Usar varios valores
        transform: scale(1.5,0.5)rotate(45deg)
*/

/*
?   Animaciones
        Para crear una animacion utilizamos la propiedad animation.Tambien usaremos los keyframes
            -animation-name: especifica el nombre de la regla @keyframes que describe los fotogramas de la animacion
            -animation-suration: indica la duracion del ciclo.
            -animation-delay: tiempo de retardo.
            -animation-iteration-count:el numero de veces que se repite,puede ser infinite.
            -animation-play-state:Permite pausar y reanudar la secuencia.
            -animation-direction:indica como deben ir los fotogramas
                normal: por defecto,se reproduce hacia delante  
                reverse:Se reproduce al reves
                alternate:Se reproduce primero hacia delante y luego hacia atras
                alternate-reverse:Se reproduce primero hacia delante y despues hacia atras
            -animation-timing-function:Indica el ritmo de la aplicacion.
                ease:Por defecto.Inicio lento, se vuelve rapido y termina lento.
                linear: Misma velocidad de inicio a fin
                ease-in: Inicio lento
                ease-out: Final lento
                ease-in-out: Inicio y final lentos
            -animation-fill-mode:Especifica que valores tendran despues de la animacion.
                none:por defecto,ningun estili al elemento
                forwards:Conservara los valores de estilo por el ultimo fotograma
                backwards:Conservara los valores de estilo por el primer fotograma
                both:La animacion seguira las reglas para avanzar y retroceder
TODO        Animation            --->>                          Shorthand
        div{
            animation-name:example;                     
            animation-duration:5s;
            animation-timing-function:linear;                      div{
            animation-delay:2s;                                         animation:example 5s linear 2s infinite alternate;
            animation-iteration-count:infinite;                    }
            animation-direction:alternate;
            
        }


TODO        @Keyframes 
        @keyframe example{
            0%{
                background-color:blue;
            }
            50%{
                transform:translate(10px,100px);
            }
            100%{
                background-color:red;
            }
        }
*/

/*
?   Transiciones
        Se usan para animar los cambios en las propiedades Css en vez que los cambios sean instantaneos
        transition-porperty: nombre de las propiedades que seran animadas durante las transiciones.
        transition-duration: Especifica la duracion en la que sucederan las transiciones.
        transition-timing-function:Indica el ritmo de la transicion con curvas de aceleracion
        transition-delay:tiempo de espera entre el momento que se cambia la propiedad y el inicio de la transicion

TODO        Animation            --->>                          Shorthand
        div{
            transition-property:width;                     
            transition-duration:2s;
            transition-timing-function:linear;                      div{
            transition-delay:1s;                                         transition:width 2s linear 1s ;
            }
        }
*/