body{
    background-color: gray;
}

#sup{
    background-color: black;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#lat{
    background-color: yellow;
    position: fixed;
    height: 105px;
    width: 74%;
    top: 50px;
    left: 230px;
}

#text1{
    color: antiquewhite;
    position: fixed;
    top: -17px;
    left: 0px;
}

#text2{
    position: fixed;
    top: 120px;
    left: 445px;
}